.formcontainer {
  background-color: white;
  /* width: 300px; */
  padding: 30px ;
  margin: 100px auto;
  border-radius: 15px;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.032); */
  text-align: center;
  width: 500px;
}

.formcontainer h2 {
  margin: 15px 0;
  font-size: 18px;
  font-weight: bold;
}
.formcontainer p {
  margin-bottom: 30px;
  margin-top: 5px;
  font-size: 16px;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

.nameinputs {
  display: flex;
  gap: 10px;
}

.nameinputs input {
  flex: 1;
}

.agreetext {
  font-size: 12px;
  margin-bottom: 15px;
}

.submitbtn {
  background-color: var(--blue-shade);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}

.submitbtn:hover {
  background-color: var(--blue-main);
}

.togglebtn{
  margin-top: -13px;
}

.signintext {
  margin-top: 15px;
  font-size: 14px;
}

a {
  color: #ff6600;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.error {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

.success {
  color: green;
  font-size: 12px;
  margin-bottom: 10px;
}
/* .password-input{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
} */

/* Password input wrapper styling */
.passwordinput {
  position: relative;
  margin-bottom: 20px;
}

.passwordinput button {
  position: absolute;
  top: 35%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
.passwordinput label {
  position: absolute;
  top: 100%;
  right: 40px;
  /* transform: translateY(0%); */
  background: none;
  border: none;
  cursor: pointer;
  font-size: 10px;
  color: rgb(108, 103, 103);
  
}
.passwordinput a{
    color: #ff6600;
  text-decoration:underline;
}

/* add responsive styles for signup */