* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outer_container {
  /* position: fixed; */
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  margin-left: 0;
  padding-left: 0;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1200px; */
  margin: auto;
  padding: 0 20px;
}

.logo_container img {
  width: auto;
}

.right_container {
  display: flex;
  align-items: center;
  /* padding-right: 200px; */
}

.left_container {
  padding-left: 200px;
}

.nav_links a {
  text-decoration: none;
  color: black;
  margin-right: 20px;
  font-size: 16px;
}

.nav_links a:hover {
  color: #ffa500;
}

.logout_btn {
  background-color: #5078ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.logout_btn:hover {
  background-color: #325dc0;
}


/* For tablet screens (up to 992px) */
@media (max-width: 992px) {
  .header_container {
    flex-direction: column;
    align-items: center;
  }

  .right_container,
  .left_container {
    padding: 0;
    text-align: center;
  }

  .nav_links {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav_links a {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .logout_btn {
    width: 100%;
    text-align: center;
  }
}

/* For small tablet and large mobile screens (up to 768px) */
@media (max-width: 768px) {
  .header_container {
    padding: 0 10px;
  }

  .logo_container img {
    max-width: 150px; /* Resize the logo for smaller screens */
  }

  .nav_links {
    flex-direction: column;
    align-items: center;
  }

  .nav_links a {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .logout_btn {
    padding: 8px 16px;
    font-size: 14px;
  }
}

/* For small mobile screens (up to 576px) */
@media (max-width: 576px) {
  .right_container {
    padding: 0;
  }

  .left_container {
    padding: 0;
  }

  .header_container {
    flex-direction: column;
    padding: 10px;
  }

  .logo_container img {
    max-width: 120px; /* Further resize the logo for smaller screens */
  }

  .nav_links a {
    font-size: 12px;
  }

  .logout_btn {
    font-size: 12px;
    padding: 6px 12px;
  }
}


